<app-navbar title="{{role}} Dashboard"></app-navbar>
<div class="container">
    <div class="form-container" [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <h1>Edit User</h1>
      <form>
  
        <label for="username">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          formControlName="name"
          [class.invalid]="editForm.get('name')?.invalid && editForm.get('name')?.touched"
        />
        <div class="error" *ngIf="editForm.get('name')?.hasError('required') && editForm.get('name')?.touched">
          Name is required.
        </div>
  
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          formControlName="email"
          [class.invalid]="editForm.get('email')?.invalid && editForm.get('email')?.touched"
          readonly
        />
        <div class="error" *ngIf="editForm.get('email')?.hasError('required') && editForm.get('email')?.touched">
          Email is required.
        </div>
        
        <div *ngIf="role === 'admin'">
        <label for="role">Role</label>
        <select
          id="role"
          name="role"
          required
          formControlName="role"
          [class.invalid]="editForm.get('role')?.invalid && editForm.get('role')?.touched"
        >
          <option value="">Select role</option>
          <option value="admin">Admin</option>
          <option value="reporter">Reporter</option>
        </select>
        <div class="error" *ngIf="editForm.get('role')?.hasError('required') && editForm.get('role')?.touched">
          Role is required.
        </div>
        </div>
  
        <button type="submit">Update User</button>
      </form>
    </div>
  </div>
  